<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Users")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("UsersHeaderInfo")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <h2>Code</h2>
                    </div>
                </form>


                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    
                    <!--<Primeng-TurboTable-End>-->
                </div>



            </div>
        </div>
    </div>

</div>